<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rpcServerProvider" class="com.xiaolanhe.provider.RpcServerProvider" init-method="startServer" destroy-method="closeServer">
        <constructor-arg>
            <bean class="com.xiaolanhe.registry.ZookeeperRegistry">
                <constructor-arg>
                    <value>192.168.155.101:2181</value>
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <map>
                <entry key="com.xiaolanhe.service.UserService">
                    <bean class="com.xiaolanhe.service.UserServiceImpl"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>
</beans>